%p Name: #{@p.name}
%p Gender: #{@p.gender}
%p Age: #{ @p.age}
%p Region: #{ @p.region}
%p Province: #{ @p.province}
%p Nature: #{ @p.nature}
%p Email: #{ @p.email}
%p Cellphone: #{@p.cpno}
%p APE: #{@p.ape}
%p IPC: #{@p.ipc}
%p OPC: #{@p.opc}
%p EC: #{@p.ec}
%p DC: #{@p.dc}
%p FCA: #{@p.fca}
%p Others: #{@p.others}
%p No Answer: #{@p.no_answer}
%p Financial Answer: #{@p.fin_con_ans1}
%p Financial Amount: #{@p.fin_con_ans2}
