<div id="list-view">

  <h3>Summary of all records</h3>

  <div id="table-list">
  
  </div><!-- end table-list -->

  <table class="table table-bordered table-striped table-condensed">
    <tr>
      <th rowspan="2">Region</th>
      <th rowspan="2">Division</th>
      <th colspan="2">Gender</th>
      <th rowspan="2">Age range</th>
      <th colspan="2">Nature Of Employment</th>
      <th colspan="2">Existing HMO</th>
    </tr>
    <tr>
      <td>Male</td>
      <td>Female</td>
      <td>Contractual</td>
      <td>Permanent</td>
      <td>Yes</td>
      <td>No</td>
    </tr>
    <!-- try to eliminate the region name and create helper method
         or private method and insert in every helper method -->

    <% 
      regions = %w[ Region-I Region-II Region-III Region-IVa Region-IVb
                    Region-V Region-VI Region-VII Region-VIII Region-IX
                    Region-X Region-XI Region-XII Region-XIII NCR CAR ] 
      regions.each do |reg| 
    %>
    <tr>
      <td><%= set_region(reg) %></td>
      <td>Provinces</td>
      <td><%= count_by("gender", "M") %></td>
      <td><%= count_by("gender", "F") %></td>
      <td><%= age_range_in %></td>
      <td><%= nature_emp_by('contractual') %></td>
      <td><%= nature_emp_by('permanent') %></td>
      <td><%= existing_hmo_by('yes') %></td>
      <td><%= existing_hmo_by('no') %></td>
    </tr>
    <% end %>

  </table>

</div><!-- end list-view -->
